


<!-- Video -->
<div class='showVid'>
  <h2><%= @video['title'] %></h2>
  <p><%= @video['description'] %></p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video['urlsnipp'] %>" frameborder="0" allowfullscreen></iframe>
  
  <div id='editVideo'>
  <form action="/videos/<%= @video['id'] %>/edit" method="post">
    <input class='editFormElement' id="title" type="text" name="editTitle" class="validate" placeholder='Current: <%= @video['title']%>'>

    <textarea id='textArea' class='editFormElement'id="description" type="text" name="editDescription" class="validate" placeholder='Current: <%= @video['description'] %>'></textarea>

    
    <button class="fake-link">Delete Video</button>


    </form>
 </div> 

</div>
