


<!-- Video -->
<div class='showVid'>
  <h2><%= @video['title'] %></h2>
  <p><%= @video['description'] %></p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video['urlsnipp'] %>" frameborder="0" allowfullscreen></iframe>
  
  <div id='editVideo'>
  <h2>Edit Details</h2>
  <form action="/videos/<%= @video['id'] %>/edit" method="post">
    <input class='editFormElement' type="text" name="editTitle" class="validate" placeholder='Current: <%= @video['title']%>'>

    <textarea id='textArea' class='editFormElement' type="text" name="editDescription" class="validate" placeholder='Current: <%= @video['description'] %>'></textarea>

    <button class="submitButton">Update Title/Description</button>
    </form>
    <form action="/videos/<%= @video['id'] %>/delete" method="post">
    <button class="submitButton">Delete Video</button>
    </form>
    
 </div>
 <button id='toggleEditVideo' class="submitButton">Ammend Video</button> 
</div>
